<!DOCTYPE html>
<html>

<head>
	<title>Simple Census Tract Map</title>
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
	<style>
		body { margin:0; padding:0; }
		#map { position:absolute; top:0; bottom:0; width:100%; }
		.legend label,
		.legend span {
			float:left;
			height:20px;
			width:50%;
			text-align:center;
			font-size:9px;
		}
	</style>
	
</head>

<body>
	<div id='legend' style='display:none;'>
		<strong>Legend: Population Density Map</strong>
		<nav class='legend clearfix'>
			<span>All Markers</span>
			<label>Census tracts</label>
			<span style='background:#00FFFF;'></span>
			<label>Sparsest</label>	
			<span style='background:#008B8B;'></span>
			<label>Densest</label>
			<br><br><br>
		</nav>
	</div>
	<div id='map'></div>
	<script type="text/javascript">
	L.mapbox.accessToken = 'pk.eyJ1IjoiZm1hMiIsImEiOiJkcmdtd0NjIn0.dw0I__cIjfXpz37Yj0DQmw';
	var map = L.mapbox.map('map', 'fma2.m6jhdfik').setView([37.797, -122.25], 12);
	map.legendControl.addLegend(document.getElementById('legend').innerHTML);

	var censusPlacesLayer = L.mapbox.featureLayer().addTo(map);

	$.ajax({
		url: '/geojson',
		data: $(this).serialize(),
		dataType: "json",
		success: function(data) {
			censusPlacesLayer.setGeoJSON(data);
		}
	});

	censusPlacesLayer.on('mouseover', function(e) {
		e.layer.openPopup();
	});
	censusPlacesLayer.on('mouseout', function(e) {
		e.layer.closePopup();
	});
	</script>
</body>

</html>